@model IEnumerable<CCD_Attendance.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>
<a href="@Url.Action("Create", "Course")" class="btn btn-primary">Add New Course</a>
<table class="table">
    <thead>
        <tr>
            <th>CRN</th>
            <th>Course Name</th>
            <th>Section</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CRN</td>
                <td>@course.CourseName</td>
                <td>@course.CourseSection</td>
                <td>@course.CourseSemester</td>
                <td>@course.CourseYear</td>
                <td>@course.ApplicationUser?.UserName</td>
            </tr>
        }
    </tbody>
</table>
